body {
  padding: 20px;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 18px;
}

p {
  overflow: hidden;
}

img{
  height: 200px;
  width: 200px;
}


p.par1 > img {
  display: block;
  float: left;
  /* padding-right: 20px; */
  /* padding-bottom: 20px; */
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 120px;
  width: 200px;
  height: 200px;
}



p.par2 > img {
float: right;
display: block;
  /* padding-right: 20px; */
  /* padding-bottom: 20px; */
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 120px;
  width: 200px;
  height: 200px;

}

/* tutaj wpisz swoje style */
