body, html{
    /* height: 100%; */
}

.nakladka{
    background-color: blue;
    z-index: 1;
    width: 500px ;
    height: 335px;
    opacity: 0.2;
    top: 9px;
    position: absolute;
}

.project-img{
    z-index: 1;
    /* position: absolute; */
    
}    

.project-over{
position: absolute;
top: 400px

}

.project-technology{
position: absolute;
top: -220px;
text-align: center;
left: 130px;
width: 200px;
padding: 6px;
}

.html
{
    border: 1px solid blue;
border-radius: 16px;
float: left;
padding: 6px;
background-color: white;
opacity: 1;
padding-right: 6px;
/* left: 2px; */
/* position: absolute; */
margin-right: 10px;
}

.css{
    border: 1px solid blue;
    border-radius: 16px ;
    float: left;
    padding: 6px;
    opacity: 1;
    background-color: white;
    /* position: absolute */
    /* right: 25px; */
    margin-left: 10px;
    margin-right: 10px;
}

.js{
    border: 1px solid blue;
    border-radius: 16px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    background-color: white;
    opacity: 1;
    /* position: absolute; */
    /* left: 9px; */
    margin-right: 10px;
}

.project-title{
    color: white;
    top: -270px;
    z-index: 1;
    position: absolute;
    width: 300px;
    left: 100px;
}