body {
  font-family: 'PT Sans', sans-serif;
}

.table {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  padding: 20px;
  background: #3A3A3A;
  color: #fff;
  text-transform: capitalize;
}
td{
padding: 20px;
}

tr:nth-child(1){
  background-color: #eee;

}
tr:nth-child(3){
  background-color: #eee;

}
tr:nth-child(5){
  background-color: #eee;

}
tr:nth-child(7){
  background-color: #eee;

}
tr:nth-child(9){
  background-color: #eee;

}